.starwars-card_container {
  width: 165px;
  height: 229px;
  border-radius: var(--border-radius);
  border: solid 3px #000000;
}

.starwars-card_header {
  width: 100%;
  height: 41px;
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  text-align: center;
  color: var(--text-normal-color);
  border: solid 3px #000000;
  border-radius: var(--border-radius);
}

.starwars-card_body {
  width: 100%;
  height: 126px;
  border: solid 3px #000000;
  border-radius: var(--border-radius);
}

.starwars-card_body-img {
  max-width: 160px;
  max-height: 120px;
}

.starwars-card_footer {
  width: 100%;
  height: 62px;
  display: flex;
  justify-content: center;
  align-items: center;
}
