.detail_container{
  width: 95%;
  height: 783px;
  margin-left: auto;
  margin-right: auto;
  border: solid 3px #000000;
  border-radius: var(--border-radius);
}

.detail_container.no_footer {
  height: auto;
}

.detail_header {
  width: 100%;
  height: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 3px #000000;
}

.detail_header_title {
  font-size: var(--font-size-big);
  font-weight: var(--font-weight-important);
  color: var(--text-normal-color);
  margin-left: 20px;
}

.detail_body {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 3px #000000;
  margin: 20px 0px;
}

.detail_body.no_footer {
  border-bottom: none;
}

.detail_body_img {
  max-width: 453px;
  max-height: 255px;
}

.detail_body_left {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail_footer {
  width: 100%;
  height: 408px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.detail_footer.one_footer {
  grid-template-columns: 1fr;
}

.detail_footer_title {
  width: 100%;
  height: 55px;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-medium);
  color: var(--text-normal-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 3px #000000;
}

.detail_footer_body {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.detail_footer_container.right {
  border-left: solid 3px #000000;
}
