.accordion_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.accordion_header {
  width: 99%;
  height: 71px;
  border-radius: var(--border-radius);
  background-color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 20px;
}

.accordion_header_button {
  cursor: pointer;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  width: 57px;
  border-radius: var(--border-radius);
}

.accordion_header_button:hover {
  transform: scale(1.1);
}

.accordion_header_button:focus {
  outline: none;
  border: solid 1px var(--secondary-color);
}

.accordion_header_button_img {
  height: 52px;
  margin: 0px;
}

@keyframes turn-arrow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: scale(90deg);
  }
}

.accordion_header_button_img.open {
  transform: rotate(90deg);
  animation: turn-arrow 1s ease;
}

.accordion_header_button_img.close {
  transform: rotate(0deg);
  animation: turn-arrow 1s ease;
  animation-direction: reverse;
}

.accordion_header_title {
  margin-left: 20px;
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-important);
  color: var(--text-primary-color);
}

.accordion_body {
  width: 100%;
  display: none;
  opacity: 0;
  padding-top: 20px;
}

@keyframes exapand-accordion {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}

.accordion_body.open {
  display: block;
  opacity: 1;
  animation: expand-accordion 1s ease;
}

.accordion_body.close {
  display: none;
  opacity: 0;
  animation: expand-accordion 1s ease;
  animation-direction: reverse;
}