.nav-bar_container {
  width: 100%;
  height: 128px;
  padding: 0px 29px;
  background-color: var(--primary-color);
  color: var(--text-color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar_title {
  width: 100%;
  font-family: var(--title-font-family);
  font-size: var(--font-size-huge);
  color: var(--text-primary-color);
}

.nav-bar_home-icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}

.nav-bar_home-icon-img {
  height: 73px;
  border-radius: var(--border-radius);
}

.nav-bar_home-icon-img:hover {
  border: solid 3px var(--secondary-color-dark);
}


